/*
Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  color: inherit;
	vertical-align: baseline;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

/* end Reset */
html {
  box-sizing: border-box;
}
/**
 * Enable smooth scrolling on the whole document
 */
html {
	scroll-behavior: smooth;
}
/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}
h2 {
  font-size: 1.5em;
  margin: .75em 0;
}
h3 {
  font-size: 1.17em;
  margin: .83em 0;
}
h5 {
  font-size: .83em;
  margin: 1.5em 0;
}
h6 {
  font-size: .75em;
  margin: 1.67em 0;
}
h1, h2, h3, h4,h5, h6 {
  font-weight: bolder
}

p {
	margin: 25px;
	line-height: 25px;
}

section#contactme {
	/*width: 100%;*/
  height: 100vh;
  overflow: hidden;
  display:flex;
  flex-direction:column;
  align-items: center;
  /* background-color: #e3e2f4; */
}

a:link {
  font-weight: bolder;
}

a:hover {
  color: #33002ccf;

}

.imgContainer {
  overflow: hidden;
}

img#kjh_teignmouth_beavh_2021_full {
  margin-left: calc(100vw - 1055px);
}
@media screen and (min-width: 1080px) {
  img#kjh_teignmouth_beavh_2021_full {
    margin-left: auto;
    margin-right: auto;
  }
}
.ctaContainer {
  padding: 5px 0;
  height: 75px;
}
.ctaContainer svg {
  font-size: 50px;
}

section#aboutme {
  display:flex;
  flex-direction:column;
  align-items:center;
/*  background-color: #F3F4E2; */
}



section#notarinos {
  display:flex;
  flex-direction:column;
  align-items:center;
/*  background-color: #F4E2F3; */
  width:100%;
	/* height:100vh; */
}

div#notarinosApp {
	display: flex;
	flex-direction: column;
}

div#instructions {
	flex: 1 1 30%;
}

div#tuningControls {
	position: relative;
	width: 100%;
	height: 150px;
}


.tuningControl {
	width: 50px;
	height: 50px;
}

#tune0 {
	position: absolute;
	top: 55%;
	left: 3%;
}

#tune1 {
	position: absolute;
	top: 30%;
	left: 18%;
}

#tune2 {
	position: absolute;
	top: 10%;
	left: 33%;
}

#startStopNotarinos {
	position: absolute;
	top: 50%;
	left: 36%;
	z-index:3;
}

/* #pickContainer:hover {
	z-index:0;
} */


#logo {
	stroke: #ff4141;
  fill: #ff4141;
}

#pick {
	stroke:#dc0000;
	fill:#0e232e;
}


#tune3 {
	position: absolute;
	top: 10%;
	left: 53%;
}


#tune4 {
	position: absolute;
	top: 30%;
	left: 68%;
}


#tune5 {
	position: absolute;
	top: 55%;
	left: 83%;
}

.tuningGraphic {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius:50%;
	border: 2px solid black;
	background: linear-gradient( 0deg, #b0bec5, #b0bec5 50%, #cfd8dc 51%);
	transition: all 0.3s ease;
}

div.tuneUp {
	position:absolute;
	top: -10px;
	width:50px;
	height:35px;
	border-top-left-radius: 50% 100%;
	border-top-right-radius: 50% 100%;
	mix-blend-mode: soft-light;
	z-index:3;
}

.tuneUp:hover {
	border-top: 10px solid #625280;
	mix-blend-mode: normal;
}

div.tuneDown {
	position:absolute;
	bottom: -10px;
	width:50px;
	height:35px;
	border-bottom-left-radius: 50% 100%;
	border-bottom-right-radius: 50% 100%;
	z-index:3;
}

.tuneDown:hover {
	border-bottom: 10px solid #544d77;
	mix-blend-mode: normal;
}

div.tuningNote {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	font-size: 25px;
	color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}



div#stage {
	flex: 1 0 60%;
  /* width: 100vw; */
  min-width: 360px;
  max-width: 400px;
  /* height: 100vh; */
  min-height: 640px;
  /*margin: 0 auto;*/
}

canvas {
	position: absolute;
}
#fretboard { z-index: 0; }
#visualization { z-index: 2; pointer-events:none;}
#tuning {z-index: 3; pointer-events:none;}
